<!-- Script du module -->
<script type="text/javascript" type="module" src="/js/auth/signup.js" defer></script>

<div class="page login">
  <form action="" class="form">
    <div class="form__title">S'inscrire</div>

    <div class="form__fields">
      <div class="form__field">
        <label for="email" name="email">Email</label>
        <input class="form__element form__input" type="text" id="email">
        <div class="form__error email">Error email</div>
      </div>

      <div class="form__field">
        <label for="password" name="password">Password</label>
        <input class="form__element form__input" type="password" id="password">
        <div class="form__error password">password error</div>
      </div>

      <div class="form__field">
        <button class="form__button" type="submit">S'inscrire</button>
      </div>
    </div>
  </form>
</div>
